.box{
    margin-left: 180px;
    margin-right:180px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;

}
div{
    border:white;
}
.box1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left:30px;
    margin-left: 350px;

}
.box1-1{
    padding:20px;
    color:#41C2A6;
    
}
.box1-2{
    padding:20px;
    color:#8B9693;
}
.doc{
    padding:10px 300px 10px 470px;
    margin-top: 100px;
}
.first-head{

    display:flex;
    justify-content:center;
}
h1{
    color:#41C2A6;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    color: #787A87;
  }
.text1{
    display:grid;
    grid-column: 1/2;
    grid-row: 1/4;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;

}
.text2.{
    display:grid;
    grid-column: 3/4;
    grid-row: 1/4;

}
.part2{
    display:flex;
    flex-direction:row;
}
.part2-1left{
    color:#B8BEBF;
}
.part2-2{
    display:flex;
    flex-direction:row;
    background-color:#41C2A6 ;
}
.part2-2image{
    padding-left:188px ;
}
.part2-2right{
    background-color:#5398EC;
}
.part2-2-text{
    color: white;
}
.part2-2arrange{
    padding:40px;
}
.part2-1arrange{
    padding:40px;
    background-color:#41C2A6;
}
.part3{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
.part3-text{
    width: 400px;
    height:200px;
}
.part3-links{
    padding: 10px;
    color:#DAE5F1;
}
.part3_wrap{
display: flex;
flex-wrap: wrap;
width: 500px;
}
.box4{
    display:flex;
    flex-direction:row;
}
.box4-img{
    padding-left:70px ;
}
.box4-head{
    color:#41C2A6;
    text-align: center;
    padding: 13px;
}
.box4-text{
    padding-left: 40px;
}
.box4-right{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box4-right1{
    display:flex;
    flex-direction: column; 
    align-content: center;
    width: 200px;
}
.box5-1{
    margin: 10px 100px 10px 100px;
    padding-left: 50px;
    padding-right:50px;
    text-align: center;
}
.box5-text{
    margin-left:300px;
    margin-right:300px ;
    text-align: center;
}
.box5{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 70px;
}
.box6{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.box6-text{
    font-size: 13px;
    color:#949799;
    padding-left: 30px;
    text-align: center;

}
.box4-1{
    background-color: #B8E0E9;
}
.button{
    color:#3454F6;
}
@media only screen and (max-width: 1000px) {
    body {
      background-color: black;
    }
  
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }}